#sortBtn {
  font-family: "Rowdies", cursive;
  margin: 10px;
}

#filterRow {
  display: flex;
  justify-content: center;
}

#sortRow {
  display: flex;
  justify-content: center;
}

#employeeRow {
  display: flex;
  justify-content: center;
}

.form-inline {
  margin-bottom: 20px;
}

#filterMonthBtn {
  margin-left: 10px;
}
