#sortBtn {
  font-family: "Rowdies", cursive;
  margin: 30px;
}

#filterRow {
  display: flex;
  justify-content: center;
}

#sortRow {
  display: flex;
  justify-content: center;
}

#employeeRow {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 50%;
  margin-bottom: 20px;
}
