#sortBtn,
#clearFilterBtn {
  font-family: "Rowdies", cursive;
  margin: 10px;
  background-color: #17bfae;
  color: white;
}

#filterRow,
#sortRow,
#employeeRow {
  display: flex;
  justify-content: center;
}

.form-inline {
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
}

#filterMonthBtn {
  margin-left: 10px;
  background-color: #17bfae;
  font-family: "Rowdies", cursive;
  color: white;
}

input {
  margin-left: 10px;
}

th {
  color: #17bfae;
}
